* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/*Início do Header*/
header {
    background-color: #4CAF50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/*Fim do Header*/

/*Main container*/
.container {    
    display: flex;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    border: solid black;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.left img {
    max-width: 100%;
    height: auto;
}

.right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    width: 100%;
}

label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e8f0fe;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.login-btn {
    background-color: #72d63a;
    color: white;
}

.register-btn {
    background-color: #9fde67;
    color: white;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .right {
        padding: 20px;
    }
}

