* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #4caf50;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  color: white;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner {
  background-image: url(../img/codigo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;
  height: 200px;
}

.banner h2 {
  font-size: 2rem;
  color: #58ac32;
  font-size: 56px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cursos-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  gap: 80px;
  margin-top: -200px;
}

.curso {
  width: 30%;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 5%;
  text-align: center;
  background-color: #f9f9f9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
  overflow: hidden; 
}

.curso img {
  width: 100%;
  height: 100%; /* Faz a imagem preencher o container */
  object-fit: cover; /* Garante que a imagem não seja distorcida */
  border-radius: 8px;
}

.curso h4 {
  margin-top: -20%;
  font-size: 28px;
  color: #333;
}

.curso h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  display: flex;
}



.aulas {
  padding: 40px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.aulas h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  display: flex;
}

.aulas-grid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.aula {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.aula img {
  width: 100%;
  border-radius: 8px;
}

.aula h4 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.projetos {
  padding: 40px 20px;
  background-color: white;
  text-align: center;
}

.projetos h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
  display: flex;
}

.projetos p {
  margin-bottom: 20px;
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
}

.projetos img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

footer {
  background-color: #4caf50;
  padding: 20px;
  text-align: center;
  color: white;
  height: 200px;
}

footer p {
  display: flex;
  margin-bottom: 10px;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: end;
}

#copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}
