@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --cor-lilas: #9B59B6; 
  --cor-azul-escuro: #2C3E50; 
  --cor-branco: #FFFFFF; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-azul-escuro);
  color: white;
}
a{
  text-decoration: none;
}
h1, h2 {
  font-family: "Exo 2";
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 35px;
}
h3{
  font-size: 25px;
  margin: 7% 1% 15px;
  border-bottom: 2px solid #4682B4;
  width: fit-content;
  font-family: "Exo 2";
  font-weight: 700;
}
/*Início do Header*/
header {
  background-color: var(--cor-azul-escuro);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo h1 {
  color: white;
  margin: 0;
}

/* Nav menu*/
nav {
    display: flex;
    margin-right: 80px;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--cor-lilas);
}

/* Banner */
.banner {
  background-image: url(../img/codigo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0;
  height: 400px;
}

.banner h2 {
  font-size: 2rem;
  color: var(--cor-lilas);
  font-size: 56px;
  text-align: center;
  margin-top: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Seção de Cursos */
.cursos-grid {
  display: flex;
  gap: 20px;
  align-items: stretch;
}

.curso {
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: var(--cor-azul-escuro);
  background-color: var(--cor-branco);
  padding: 20px;
  overflow: hidden;
  transition: transform 0.3s ease; 
}
.curso:hover{
  transform: scale(1.05);
}

.curso img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.cursos h3 {
  font-size: 25px;
  margin: 7% 1% 15px;
  border-bottom: 2px solid #4682B4;
  width: fit-content;
}

.curso h4 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: var(--cor-lilas);
}

.curso.grande {
  width: 100%;
  flex: 2;
}

.curso.grande img {
  height: 500px;
}

/* Estilos da seção de Aulas */
.aulas-grid {
  display: flex;
  justify-content: space-around;
  gap: 35px;
}

.aula {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  color: var(--cor-lilas);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
}
.aula:hover{
  transform: scale(1.05);
}
.aula h4{
  font-size: 30px;
}

.aula img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.projetos {
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color:  var(--cor-azul-escuro);
  padding: 20px;
  overflow: hidden;
}
footer {
  background-color:  #333;
  padding: 40px 20px;
  color: var(--cor-branco);
  font-family: "Poppins", sans-serif;
  text-align: center;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo p {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-social a img {
  width: 32px;
  height: 32px;
  filter: invert(1); /* Faz com que o ícone fique branco */
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}

.footer-rights {
  font-size: 0.9rem;
  color: #aaa;
}

.footer-rights span {
  margin-top: 10px;
}

/* Responsividade - ajustando para telas menores */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    display: none; 
    flex-direction: column; 
    position: absolute; 
    right: 10px;
    top: 52px; 
    background-color: #4CAF50; 
    width: 200px; 
    text-align: center; 
}

.nav-links.active {
    display: flex; 
}

.menu-toggle {
    display: flex; 
}

  .banner h2 {
    font-size: 32px;
  }

  .cursos-grid {
    flex-direction: column;
  }

  .aulas-grid {
    flex-direction: column;
  }

  .aula, .curso.grande {
    width: 100%;
  }
  .projetos {
    border-radius: 8px;
    text-align: center;
    padding: 20px;
  }
  .projetos img{
    width: 300px;
  }

  footer a {
    float: none;
    display: block;
    margin: 10px auto;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-social {
    justify-content: center;
  }
}
